Beginner/Beginner Workflow.json
{
  "name": "Beginner Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "9446febe-e708-4266-9397-24c08c05be17",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "82a0c57c-c59e-4c40-bb56-cc2bd1672832",
      "name": "Webhook",
      "webhookId": "9446febe-e708-4266-9397-24c08c05be17",
      "credentials": {
        "httpHeaderAuth": {
          "id": "tJyeEqlGBwzzeWqm",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "d5ab01ae-0b56-4e96-930b-79a035496a2d",
              "leftValue": "={{ $json.Name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "9308c179-e1c4-444c-b8a8-5802db19f31b",
              "leftValue": "={{ $json.Email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "629a2e34-2869-49bd-b46d-343b4596a550",
              "leftValue": "={{ $json.Email }}",
              "rightValue": "^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            },
            {
              "id": "991628ea-800b-471b-9c3e-1ac2f697b9d8",
              "leftValue": "={{ $json.Age }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "21ecc545-1d3c-45e1-9267-904aecadc482",
              "leftValue": "={{ $json.Age }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "25bc4b81-7a35-4f1d-9c4b-19ceaee12946",
              "leftValue": "={{ $json.Department }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "3dd48a64-bc9d-42c2-ad89-3425970518f3",
              "leftValue": "={{ $json.Role }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "8d59fb32-4225-4e89-b589-224726b8db7c",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2557396c-9008-400e-9885-44f9b5ead8a4",
              "name": "body.TimeStamp",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "7035f1e3-90ce-4543-8799-9d22baac6831",
              "name": "body.Name",
              "value": "={{ $json.Name }}",
              "type": "string"
            },
            {
              "id": "de8a514d-2605-48ee-bf9d-150fcfddcd2f",
              "name": "body.Email",
              "value": "={{ $json.Email }}",
              "type": "string"
            },
            {
              "id": "da494ec8-d6f9-407c-92d6-e1ddf2b50bc0",
              "name": "body.Age",
              "value": "={{ $json.Age }}",
              "type": "number"
            },
            {
              "id": "68d4733a-f5a4-447b-81a9-42b1dde10bc2",
              "name": "body.Department",
              "value": "={{ $json.Department }}",
              "type": "string"
            },
            {
              "id": "619ea0bd-f257-4751-beb1-3adee5088809",
              "name": "body.Role",
              "value": "={{ $json.Role }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        -96
      ],
      "id": "b8a98612-e3ff-478a-842e-6bff646d53a8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sendTo": "virajsanghavi5@gmail.com",
        "subject": "Invalid submission",
        "message": "The added record is invalid!",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        624,
        96
      ],
      "id": "39e9a148-20c2-4b5d-910f-4fd2bff2f7f3",
      "name": "Send a message",
      "webhookId": "2ce78f94-bb59-437d-9784-f75799ca1f5b",
      "credentials": {
        "gmailOAuth2": {
          "id": "yjMaxTObhH8uAZ5w",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1yUapTqhDmQjwtXXic1jAT-DeFWMRP0Rj1vC_HWSRqKw",
          "mode": "list",
          "cachedResultName": "Employee Record Final",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yUapTqhDmQjwtXXic1jAT-DeFWMRP0Rj1vC_HWSRqKw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yUapTqhDmQjwtXXic1jAT-DeFWMRP0Rj1vC_HWSRqKw/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        816,
        -96
      ],
      "id": "fb75e2dc-a5bc-4587-b89e-b61001c9368a",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TydimuFDmEV21G3Z",
          "name": "Google Sheets OAuth2 API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const employees = $('Edit Fields').all();\nconst sheetRows = $input.all();\nconst results = [];\n\nfor (const item of employees) {\n  const incomingEmail = item.json.body?.Email?.toString().trim().toLowerCase();\n  \n  let isDuplicate = false;\n  for (const row of sheetRows) {\n    const existingEmail = row.json.Email?.toString().trim().toLowerCase();\n    if (existingEmail === incomingEmail) {\n      isDuplicate = true;\n      break;\n    }\n  }\n  \n  if (!isDuplicate) {\n    results.push({ json: item.json });\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        -96
      ],
      "id": "2fa23894-761a-4acb-827e-d7ecb8816a09",
      "name": "Code in JavaScript",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.Department }}",
                    "rightValue": "Engineering",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1c0acde9-b1cf-42d9-8102-df44eecf6abc"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b50118da-6bdf-4490-a30b-710aaac9bc39",
                    "leftValue": "={{ $json.body.Department }}",
                    "rightValue": "HR",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e2ba40eb-c874-46c2-a006-64e655c20902",
                    "leftValue": "={{ $json.body.Department }}",
                    "rightValue": "Finance",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1376,
        -112
      ],
      "id": "88c87244-b218-42ac-abc2-19671c0fc660",
      "name": "Switch"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Rqt543PHxApT344U",
          "mode": "list",
          "cachedResultUrl": "/workflow/Rqt543PHxApT344U",
          "cachedResultName": "Engineering Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1568,
        -320
      ],
      "id": "ea4b913f-35d2-4206-8c1d-2b89c2f2b146",
      "name": "Call 'Engineering Workflow'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "BymlSUQXD2UXDDaX",
          "mode": "list",
          "cachedResultUrl": "/workflow/BymlSUQXD2UXDDaX",
          "cachedResultName": "HR Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1584,
        -112
      ],
      "id": "94353dfb-94cc-445f-90b1-e512bc1d933e",
      "name": "Call 'HR Workflow'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "SyJWzsKp46grmqeS",
          "mode": "list",
          "cachedResultUrl": "/workflow/SyJWzsKp46grmqeS",
          "cachedResultName": "Finance Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1584,
        80
      ],
      "id": "d47d0427-f6c3-4ef6-a352-bd0a077f6d21",
      "name": "Call 'Engineering Workflow'1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1yUapTqhDmQjwtXXic1jAT-DeFWMRP0Rj1vC_HWSRqKw",
          "mode": "list",
          "cachedResultName": "Employee Record Final",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yUapTqhDmQjwtXXic1jAT-DeFWMRP0Rj1vC_HWSRqKw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yUapTqhDmQjwtXXic1jAT-DeFWMRP0Rj1vC_HWSRqKw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $('Switch').item.json.body.TimeStamp }}",
            "Name": "={{ $('Switch').item.json.body.Name }}",
            "Email": "={{ $('Switch').item.json.body.Email }}",
            "Age": "={{ $('Switch').item.json.body.Age }}",
            "Department": "={{ $('Switch').item.json.body.Department }}",
            "Role": "={{ $('Switch').item.json.body.Role }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Age",
              "displayName": "Age",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Department",
              "displayName": "Department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Role",
              "displayName": "Role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1936,
        -112
      ],
      "id": "f303c595-a2f9-47e7-b3da-5f89f0d62553",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TydimuFDmEV21G3Z",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1-1xhHbdwjxejjDGK6iMhIupK6f6tiQeKXuXgFk68CZI",
          "mode": "list",
          "cachedResultName": "Audit Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-1xhHbdwjxejjDGK6iMhIupK6f6tiQeKXuXgFk68CZI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-1xhHbdwjxejjDGK6iMhIupK6f6tiQeKXuXgFk68CZI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.Timestamp }}",
            "Name": "={{ $json.Name }}",
            "Email": "={{ $json.Email }}",
            "Department": "={{ $json.Department }}",
            "Status": "PASS"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Department",
              "displayName": "Department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2144,
        -112
      ],
      "id": "65d43aeb-ffb5-4059-87d1-c96002c62883",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TydimuFDmEV21G3Z",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "body",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "d99abda6-1314-4fd0-8ea1-eac3201797f5",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f3054c90-c1f9-4c86-9b18-94689d5b342c",
              "name": "body.TimeStamp",
              "value": "={{ $json.body.TimeStamp }}",
              "type": "string"
            },
            {
              "id": "330b8768-c939-46b7-ae15-038fc4bd8573",
              "name": "body.Name",
              "value": "={{ $json.body.Name }}",
              "type": "string"
            },
            {
              "id": "2ee1ffed-d357-4599-845c-6b1e9544b381",
              "name": "=body.Email",
              "value": "={{ $json.body.Email }}",
              "type": "string"
            },
            {
              "id": "d40c032a-69c8-4f32-b382-cd9db9dc5639",
              "name": "body.Age",
              "value": "={{ $json.body.Age }}",
              "type": "number"
            },
            {
              "id": "2ccc9b22-bdb9-4ef2-8099-e2f71f738d8c",
              "name": "body.Department",
              "value": "={{ $json.body.Department }}",
              "type": "string"
            },
            {
              "id": "fe33c111-56f7-4571-bba9-1675793a311e",
              "name": "body.Role",
              "value": "={{ $json.body.Role }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        -96
      ],
      "id": "52e0f371-648b-493f-a855-62affee32853",
      "name": "Edit Fields1",
      "executeOnce": false
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Call 'Engineering Workflow'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'HR Workflow'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Engineering Workflow'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'HR Workflow'": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Engineering Workflow'": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Engineering Workflow'1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "9bI7pTX6GLvsSj4J",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "da843ec6-1231-423c-8de2-52cbb25d412e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "59e08c44e8ab9be80eace52829adcc43103a593f57779f8c452104ca9bea9474"
  },
  "nodeGroups": [],
  "id": "XA1SBIwe9qPRjDDe",
  "tags": []
}